<div class="container contact-container" data-aos="fade-up">
  <div class="contact-title text-center">
    <h1>CONTACT</h1>
  </div>

  <div class="row mt-5 justify-content-center g-5 text-start">
    <div class="col-auto">
      
      <div class="info">
        <div class="address">
          <i class="bi bi-geo-alt"></i>
          <h4 class="contact-title-2">Schedule a Consultation</h4>
          <p>
            <a class="text-light" href="https://calendly.com/taos-haus-tech/introductory-call">
              Introductory Meeting
            </a>
          </p>
        </div>
      </div>
    </div>
  
    <div class="col-auto">
      
      <div class="email">
        <i class="bi bi-envelope"></i>
        <h4 class="contact-title-2">Connect via Email</h4>
        <p>
          <a class="text-light" href="mailto:justin.perry@taos-haus.com?subject=I would like to inquire about your services">
            justin.perry@taos-haus.com
          </a>
        </p>
      </div>
    </div>
  
    <div class="col-auto">
      
      <div class="phone">
        <i class="bi bi-phone"></i>
        <h4 class="contact-title-2">Speak to an Expert</h4>
        <p>
          <a href="tel:9735985837" class="text-light">
            (973) - 598 - 5837
          </a>
        </p>
      </div>
    </div>
  </div>

<!-- Modal success -->