<footer id="footer" style="display: block;">
  <div class="footer-top">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="footer-info">
            <h3 class="text-center">
              <span class="highlight">Voki</span> <span style="color: #fff; text-transform: capitalize;">Digital</span>
            </h3>
          </div>
        </div>
      </div>
      <br>

      <div class="row justify-content-center">
        <div class="col-lg-12 footer-links">
          <h4>View Our Work</h4>
          <ul class="client-sites">
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="https://taos-haus.com/tech-solutions/">Taos Haus - Tech & DJs</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="https://arekchatmajian.dev/">Arek's Personal Website</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="https://castleintheskybk.com/">Castle in the Sky, Brooklyn</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="https://aceqrestaurant.com/">Aceq, Taos</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="copyright text-center">
      <strong>Voki Digital 2025</strong>
    </div>
  </div>
</footer>
<!-- End Footer -->