<div class="container" data-aos="fade-up">

  <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
    <div class="col-xl-6 col-lg-8">
      <h1><span class="highlight">VOKI</span> Digital</h1>
      <div class="hero-subtitle">
        <h2>Experienced Website Design</h2>
        <h2> and Ecommerce Solutions</h2>
      </div>

    </div>
  </div>

  <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
    <div class="col-xl-2 col-md-4">
      <div class="icon-box" data-service="website-development">
        <i class="bi bi-code-slash"></i>
        <h3>Website</h3>
        <h3>Development</h3>
      </div>
    </div>
    <div class="col-xl-2 col-md-4">
      <div class="icon-box" data-service="mobile-optimization">
        <i class="bi bi-phone-flip"></i>
        <h3>Mobile</h3>
        <h3>Optimization</h3>
      </div>
    </div>
    <div class="col-xl-2 col-md-4">
      <div class="icon-box" data-service="api-integrations">
        <i class='bi bi-plug'></i>
        <h3>API</h3>
        <h3>Integrations</h3>
      </div>
    </div>
    <div class="col-xl-2 col-md-4">
      <div class="icon-box" data-service="ecommerce-consulting">
        <i class='bi bi-cart'></i>
        <h3>Ecommerce</h3>
        <h3>Consulting</h3>
      </div>
    </div>
    <div class="col-xl-2 col-md-4">
      <div class="icon-box" data-service="custom-solutions">
        <i class="bi bi-puzzle"></i>
        <h3>Custom</h3>
        <h3>Solutions</h3>
      </div>
    </div>
    <div class="col-xl-2 col-md-4">
      <div class="icon-box" data-service="site-maintenance">
        <i class="bi bi-gear"></i>
        <h3>Site</h3>
        <h3>Maintenance</h3>
      </div>
    </div>
  </div>

</div>