{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}Voki Digital - Home{% endblock %}

{% block main-body %}
  
  <section id="hero" class="d-flex align-items-center justify-content-center min-vh-100">
    {% include 'frontend/hero.html' %}
  </section>

  <main id="main">

    <div class="about-services-bg">
      
      <section id="about" class="about">
        {% include 'frontend/about_new.html' %}
      </section>
      
      <section id="services" class="services">
        {% include 'frontend/services.html' %}
      
      <section id="contact" class="contact">
        {% include 'frontend/contact_calendly.html' %}
      </section>
    </div>
  </main>
{% endblock %}